{% extends "table_sortable.html" %} 

{% block content %}
<h1 class="page-header">Notifications</h1>
<table class="table sort-table table-hover">
    <thead>
        <tr>
            <th>Action</th>
            <th>Date</th>
            <th class="{sorter: false}"></th>
        </tr>
    </thead>
{% for notification in notification_list %}
    <tbody>
        <tr>
            <td>{% autoescape off %} {{ notification.html }} {% endautoescape %}</td>
            <td>{{ notification.date }}</td>
            <td><a href="{% url 'delete_notification' notification_id=notification.id %}">x</a></td>
        </tr>
    </tbody>
{% endfor %}
</table>
{% endblock %}