{% extends "table_sortable.html" %} 

{% block content %}
{{ block.super }} 
<h1 class="page-header">My Notifications {% if notification_list %}<small style="float:right; padding-top:2%; font-size:40%"><a class="text-muted" href="{% url 'delete_all_notifications' %}">Delete All</a></small>{% endif %}</h1>
{% if notification_list %}
<table class="table table-hover sort-table">
    <thead>
        <tr>
            <th>Message</th>
            <th>Date</th>
            <th class="{sorter: false}"></th>
        </tr>
    </thead>
    <tbody>
{% for notification in notification_list %}

        <tr>
            <td>{% autoescape off %} {{ notification.html }} {% endautoescape %}</td>
            <td>{{ notification.date }}</td>
            <td><a href="{% url 'delete_notification' notification_id=notification.id %}">x</a></td>
        </tr>

{% endfor %}
    </tbody>
</table>
{% else %}
<div class="text-center"><h2 class="text-muted">None</h2></div>
{% endif %}
{% endblock %}

{% block js_ready %}
    $(".sort-table").tablecloth({
          theme: "default",
    });
    // set date column to sort by desc by default
    $(".sort-table").tablesorter({
                sortList: [[1,1]], 
                });
{% endblock %}