{% extends "registration/registration_base.html" %}
{% load staticfiles %}

{% block title %}About Toolshare{% endblock %} 

{% block content %} 

        <div class="col-sm-8 col-sm-offset-2">
    <h1 class="page-header">About Toolshare</h1>
            <div class>
			</div>
			<div class>
                	We are a web application that will allow users within a Share Zone to borrow physical tools from a shared location under the supervision of admins and shed owners/coordinators.
                        The application will feature an easy-to-use intuitive interface for navigation. The purpose of this tool is to provide members of communities with an easy mechanism to share tools with each other.
            		</div>
			<div class>
			</div>
         
   
          </div>
{% endblock %}