{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}About Toolshare{% endblock %} 

{% block content %} 
    <h1 class="page-header">About Toolshare</h1>
        <div class="row">
            <div class="col-md-4 text-center">
			</div>
			<div class="col-md-4 text-center">
                <p>	We are a web application that will allow users within a “Share Zone” to borrow physical tools from a shared location under the supervision of admins and “Shed Owner”. The application will feature an easy-to-use intuitive interface for navigation. The purpose of this tool is to provide members of communities with an easy mechanism to share tools with each other.</p>
            </div>
			<div class="col-md-4 text-center">
			</div>
         
   
          </div>
{% endblock %}