{% extends "profiles/profile_base.html" %}
{% load staticfiles %}
{% block title %}Fequently asked questions{% endblock %} 

{% block content %} 
    {{ block.super }}
    <h1 class="page-header">Fequently asked questions </h1>
        <div class="row">
            <div class="col-md-12 text-left">
                <table class="table no-border detail-table">
					<tbody>
						<tr>
							<td class="text-muted label-col">What is a shed?</td>
							<td>
								A shed is a place in which a user can store tools or borrower tools.
								Each share zone has at least one shed. When a user create an account
								their home is a representative shed. A Shed is a physical location that a user
								could goto received their borrowed tools. 
							</td>
						</tr>
						<tr>
							<td class="text-muted label-col">What happens when I borrow?</td>
							<td>
								By borrowing you request from another user a specific tool they own
								if they approve you, then you can go to the shed that holds that tool
								or the user home and receive it. If they do not approve you, then the tool remains with
								the owner. At the end of a specific time period you must return the tool
								to the shed or owner of the tool.
							</td>
						</tr>
					</tbody>
				</table>
            </div>
          </div>
{% endblock %}