{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Activation email sent" %}{% endblock %}
{% block css %}<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">{% endblock %}
{% block content %}
{% blocktrans %}
<div class="col-xs-6 col-xs-offset-3 text-center">
<br>
    <h3>Account created!</h3>
    <h5>
        An activation email has been sent.
        Please check your email and click on the link to activate your account.
        You must activate your account before logging in.
    </h5>
</div>
{% endblocktrans %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    /* Redirect to login after set time */
    setTimeout(function() {
        window.location.href = "{% url 'home' %}";
        }, 3000);
</script>
{% endblock %}