{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans "Register for a ToolShare account" %}{% endblock %}
{% block css%}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
<style>
    .errorlist li {
        color: red;
    }
</style>
{% endblock %}
{% block outside_content %}
<div class="container">
<div class="col-sm-4 col-sm-offset-4 text-center">
    <h2>Sign Up</h2>
    <hr>
    <form  method='post' action='' role="form">{% csrf_token %}

    {% if form.errors %}
        {% for field, errors in form.errors.items %}
            <ul class="errorlist">
            {% for error in errors %}
                <li>{{ error }}</li>
                
            {% endfor %}
            </ul>
        {% endfor %}
        {% endif %}

        <div class="form-inline form-group">
                <input id="id_first_name" class="form-control input-inline" maxlength="30" name="first_name" placeholder="First Name" type="text">
                <input id="id_last_name" class="form-control input-inline" maxlength="30" name="last_name" placeholder="Last Name" type="text">

        </div>
        <div class="form-group">
            <input id="id_username" class="form-control input-single" maxlength="30" name="username" placeholder="Toolshare Username" type="text">
        </div>
        <div class="form-group">
            <input id="id_email" class="form-control" name="email" placeholder="Email" type="email">
        </div>


        <div class="form-inline form-group">
            <input id="id_password1" class="form-control input-inline" name="password1" placeholder="Password" type="password">
            <input id="id_password2" class="form-control input-inline" name="password2" placeholder="Re-type Password" type="password">
        </div>

        <div class="form-group">
            <input id="id_postal_code" class="form-control" name="postal_code" placeholder="Postal Code" type="text">
        </div>
        
        <hr>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Create Account" %}" />
        </div>
    </form>
    </div>
</div>
{% endblock %}
