{% extends "django_messages/messages_base.html" %} 

{% block content %}
<h1 class="page-header">My Inbox</h1>
{{block.super}}
<div class="table-responsive">

<table class="table sort-table table-hover messages">
    <thead>
        <tr><th>Sender</th><th>Subject</th><th>Received</th><th class="{sorter: false}">Action</th></tr>
    </thead>
    <tbody>
{% for message in message_list %} 
    <tr>
        <td>{{ message.sender }}</td>
        <td>
            {% if message.new %}<strong>{% endif %}
            {% if message.replied %}<em>{% endif %}
            <a href="{{message.get_absolute_url }}">{{ message.subject }}</a>
            {% if message.replied %}</em>{% endif %}
            {% if message.new %}</strong>{% endif %}</td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url 'messages_delete' message.id %}">delete</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
</div>
{% if not message_list %}
<h3 class="text-muted text-center">No messages</h3>
{% endif %}  

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
