{% extends "django_messages/messages_base.html" %} 
{% load i18n %} 

{% block content %} 
<h1 class="page-header">{% trans "Sent Messages" %}</h1>
{{block.super}}
<div class="table-responsive">
<table class="table table-striped sort-table messages"> 
    <thead>
        <tr><th>{% trans "Recipient" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Sent" %}</th><th class="{sorter: false}">{% trans "Action" %}</th></tr>
    </thead>
    <tbody>
{% for message in message_list %} 
    <tr>
        <td>{{ message.recipient }}</td>
        <td>
        <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
        </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url 'messages_delete' message.id %}?next={% url 'messages_outbox' %}">{% trans "delete" %}</a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
</div>
{% if not message_list %}
<h3 class="text-muted text-center">{% trans "No messages" %}</h3>
{% endif %}   
{% endblock %}
