{% extends "django_messages/messages_base.html" %} 

{% block content %} 
<h1 class="page-header">Deleted Messages</h1>
{{block.super}}
<div class="table-responsive">
<table class="table sort-table table-hover messages">
    <thead>
        <tr><th>Sender</th><th>Subject</th><th>Date</th><th>Action</th></tr>
    </thead>
    <tbody>
{% for message in message_list %} 
    <tr>
        <td>{{ message.sender }}</td>
        <td> 
        {{ message.subject }}
        </td>
        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
        <td><a href="{% url 'messages_undelete' message.id %}">undelete</a></td>
    </tr>
{% endfor %}

    </tbody>

</table>
</div> 

 {% if not message_list %}
<h3 class="text-muted text-center">No messages</h3>
{% endif %}  

<br />
<p class="text-center text-muted">Note: Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage.</p>
{% endblock %}
