/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;

}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * Custom
 */

.no-border td {
  border-top: none !important;

}

a {
  text-decoration: none;
  color: #8a6dcd;
}

a:hover{
  color: #8a6dcd !important;
}

a.no-color{
  color: inherit;
}

a.no-color:hover {
  color: inherit !important;
}

a.alert-new {
  color: #8a6dcd !important;
}

.div-border{
  border: 1px solid #eeeeee;
}

/*mytools table checbox align*/
td.check {vertical-align: middle !important;}

/*mysheds tiles*/
ul.shed-detail{
  list-style: none; 
  display: inline-block;
}

.no-top-margin {
  margin-top: 0px !important;
}

.shed-tile {
  padding-top: 20px;
}

.tile-hover {
  border-color: #8a6dcd !important;;
}

/*.editable-submit {
  background-color: #8a6dcd !important;
}*/


.btn-primary {
  background-color: #8a6dcd;
  border-color: #8a6dcd;
}

.btn-primary:hover{
  background-color: #665098;
  color: #FFF !important;
}

.modal-footer button.btn-primary{
    background-color: #8a6dcd !important;
    color: #FFF !important;
}

/* Input box outline */
textarea:focus, input:focus, input[type]:focus, select:focus, .uneditable-input:focus {   
    border-color: rgba(138, 109, 205, 0.8) !important;
    box-shadow: 0 1px 1px rgba(138, 109, 205, 0.075) inset, 0 0 8px rgba(138, 109, 205, 0.6) !important;
    outline: 0 none !important;
}

/* Registration form input */
@media (min-width: 768px) {
  .input-inline {
    width: 173px !important;
  }
}
/*profile details*/
.detail-table {
  width:  auto !important;
}

/* table column */
.label-col {
  width: 120px !important;
}

.but-col{
  width: 50px;
}

/* image sizes */
.dashboard-icon {
   width: 70px; 
   height:70px;
}

.shed-img {
  width: 150px;
  height: 150px;
}

.profile-img {
  width: 200px;
  height: 200px;
}

.tool-img {
  width: 200px;
  height: 200px;
}

.tool-thumbnail{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}


/* Show/hide dashboard button*/
.dash-btn-div{
  position: absolute;
  left: 100%;
}
 .dash-btn{
  background-color: #eeeeee;
  color: #222222;
  border-color: #bababa;

  background-repeat: no-repeat;
  background-position: center;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.open-dash {
  display: block;
}

.close-dash{
  display: none;
}

.opened {
  background-image: url('../img/icon/close.png');
}

.closed {
    background-image: url('../img/icon/open.png');
}


.center-text {
  text-align: center;
}


/* Change link cursor and decoration */

.no-click {
  text-decoration: none;

}
.no-click:hover {
  cursor: default;
}

.center-list .nav{
  float: none;
  text-align: center;
}

.center-list .nav > li {
    float: none;
    display: inline-block;
}

@media (min-width: 768px) {
  .right-align {
    text-align: right;

  }
}

.errorlist li {
        color: red;
}


.row-link{
  cursor:pointer;
}

.row-link td {
   vertical-align: middle !important;
}

ul {
  list-style:none !important;
}