
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Create Shed{% endblock %}
 
{% block content %}
	<h1 class="page-header">Create a Shed</h1>
	
		<div class="row">
		<div class="col-sm-5 right-align">
			<img  id="img-preview" class="img-rounded" alt="image of shed" src="{% static 'img/shedplaceholder.png' %}" style="width: 200px; height:200px;">
		</div>
	          <div class="col-sm-1"></div>

        <div class="col-sm-6">
	<form method='post' action='' role="form" enctype="multipart/form-data">{% csrf_token %}

			{{form.as_p}}
			<hr>

			<input class="btn btn-primary" type="submit" value="Create Shed"/>

	</form>
            </div>
        <!--{% for field, errors in form.errors.items %}
            <ul class="errorlist">
            {% for error in errors %}
                <li>{{ error }}</li>
                
            {% endfor %}
            </ul>
        {% endfor %} -->
{% endblock %}


{% block js_ready %}
{{block.super}}
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        // Only process image files.
        f = files[0]
        if (f.type.match('image.*')) {

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function(theFile) {
            return function(e) {
              // Render thumbnail.
            $('#img-preview').attr('src', e.target.result)
            };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }
    document.getElementById('id_image').addEventListener('change', handleFileSelect, false);
{% endblock %}