
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Edit Shed - {{ shed.name }}{% endblock %}
 
{% block content %}
	<h1 class="page-header">Edit Shed</h1>
	
		<div class="row">
		<div class="col-md-5 text-right">
			<img  id="img-preview" class="img-rounded" alt="image " src="{% static shed.filename %}" style="width: 200px; height:200px;">
		</div>
	
	<form method='post' action='' role="form" enctype="multipart/form-data">{% csrf_token %}

	       <div class="col-md-1"></div>
		<div class="col-md-6 text-left">
			{{form.as_p}}
			<hr>

			<input class="btn btn-primary" type="submit" value="Save Changes"/>
		</div>
	</form>
{% endblock %}
{% block js_ready %}
{{block.super}}
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        // Only process image files.
        f = files[0]
        if (f.type.match('image.*')) {

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function(theFile) {
            return function(e) {
              // Render thumbnail.
            $('#img-preview').attr('src', e.target.result)
            };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }
    document.getElementById('id_image').addEventListener('change', handleFileSelect, false);
{% endblock %}