{% extends "profiles/profile_base.html" %}
{% load staticfiles %}
{% block title %}Profile - {{ profile.user.username }}{% endblock %} 

{% block content %} 
    {% if user == profile.user %}
        {{ block.super }}
    {% endif %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>My Sheds</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/toolshare.css" rel="stylesheet">


  </head>

  <body>

  <h2 class="sub-header">My Sheds</h2>
	<div class="row">
	  <a class="no-color" href="#"><div class="col-sm-6 col-md-6 shed-tile">
		<div class="col-sm-3 col-md-3">
		  <img class="img-rounded" alt="140x140" src="img/shed/shed1.jpg" style="width: 150px; height: 150px;">
		</div>
		<div class="col-sm-1 col-md-1">
		</div>
		<div class="col-sm-8 col-md-8">
		  <table>
			<tr><td>
  
		  <table class="table no-border table-condensed">
			<tbody>
			 <tr>
			  <td><h4 class="no-top-margin">{shed.name} shed</h4></td>
			 </tr>
			  <tr>
				<td class="text-muted"><small>Location:</small></td>
				<td>{shed.address.street}</td>
			  </tr>
			  <tr>
				<td class="text-muted"><small>Tools Shared:</small></td>
				<td>-</td>
			  </tr>
			  <tr>
				<td class="text-muted"><small>Tools Borrowed:</small></td>
				<td>-</td>
			  </tr>
 
			</tbody>
		</td>
		</tr>
		  </table>

	  </div>
	  </div></a>


	  <div class="col-md-6">

	  </div>

	</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
    <script src="js/jquery-1.11.0.min.js"></script> 
    <script src="js/bootstrap.min.js"></script> 
    <script>
      $(document).ready(function() {
        $(".shed-tile").hover( function() {
          $(this).addClass("tile-hover");
        }, function() {
          $(this).removeClass("tile-hover");
        });
      });
    </script>
  </body>
</html>
