{% extends "table_sortable.html" %}
{% load staticfiles %}
{% block title %}My Tools - {{user.username}}{% endblock %}

{% block nav_item_2 %}
<a href="{% url 'profiles_profile_detail' username=user.username %}"><img alt="profile icon" class="img-circle dashboard-icon" src="{% static 'img/profileplaceholder.png' %}">
<h4>Profile</h4></a>
<span class="text-muted">View your profile</span>
{% endblock %}

{% block content %}
{{block.super}}
<h1 class="page-header">Sharezone </h1>

          {% if shed_list %}
		<div class="table-responsive">
			<table class="table table-striped sort-table">
				<thead>
					<tr>
						<!--<th class="{sorter:false}"></th>
						<th class="{sorter:false}"></th>-->
						<th>Name</th>
						<th>Owner</th>
						<th class="center-text">Shared</th>
						<th class="center-text">Loaned</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
		

					{% for shed in shed_list %}
					<!-- set share_count variable so share_count doesn't need to be calculated twice -->
						{% with shed.share_count as share_count %}
						{% if share_count > 0 %}
						<tr>
		
							<td>
							{{shed.name}}
							</td>
							<td>                   <a href="{% url 'profiles_profile_detail' username=shed.owner.username %}"> 
							{{shed.owner.username}}</a>
							</td>
							<td class="label-col center-text">
							{{share_count}}
							</td>
							<td class="label-col center-text">
							{{shed.borrow_count}}
							</td>
							<td class="but-col">
								<a href="{% url 'shed_detail' shed_id=shed.id %}">View</a>
							</td>

						</tr>
						{% endif %}
						{% endwith %}
					{% endfor %}

				</tbody>
			</table>
		</div>
		{% else %}
		<div class="text-center"><h2 class="text-muted">None</h2></div>
		{% endif %}
{% endblock %}
