{% extends "table_sortable.html" %}
{% load staticfiles %}
{% load i18n %}


{% block content %} 
<h1 class="page-header">
    Shed <small>{{shed.name}}</small>
</h1>
<div class="row">
    <div class="col-md-6 text-right">
        <img class="img-rounded shed-img" alt="170x170" src="{% static 'img/shedplaceholder.png' %}">
    </div>
         
    <div class="col-md-6 text-left">
        <table class="table no-border detail-table">
            <tbody>
            <tr>
                <td class="text-muted label-col">Owner: </td>
                <td>
                    <a href="{% url 'profiles_profile_detail' username=shed.owner.username %}">
                      {{shed.owner.username}}
                    </a>
                </td>
            </tr>
            {% if shed.street and shed.city and shed.state %}
            <tr>
                <td class="text-muted">Location: </td>
                <td>{{shed.location}}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="text-muted">Share Zone: </td>
                <td>{{shed.postal_code}}</td>
            </tr>
            <tr>
                <td class="text-muted">Tools Shared: </td>
                <td>{{shed.share_count}}</td>
            </tr>
            <tr>
                <td class="text-muted">Tools Borrowed: </td>
                <td>{{shed.borrow_count}}</td>
            </tr>
            </tbody>
        </table>

{% if permissions.add_tool %}
     <a class="btn btn-primary confirm" href="{% url 'create_tool_to_shed' shed_id=shed.id %}" >
        <strong>Add Tool</strong>
    </a> 
{% endif %}

{% if permissions.edit %} 
    <a class="btn btn-primary confirm" href="{% url 'edit_shed' shed_id=shed.id %}" >
    <strong>Edit</strong>
    </a> 
{% endif %}

{% if permissions.delete %}       
     <a class="btn btn-primary confirm" href="{% url 'delete_shed' shed_id=shed.id %}" >
        <strong>Delete</strong>
    </a>
{% endif %}

{% if permissions.set_home %}       
     <a class="btn btn-primary confirm" href="{% url 'set_home' shed_id=shed.id %}" >
        <strong>Set as home</strong>
    </a>
{% endif %}


    </div>
 </div>

<h2 class="sub-header">Tool List</h2>
{% if tool_list %}
<div class="table-responsive">
    <table class="table table-hover sort-table">
        <thead>
            <tr>
                        <!--<th class="{sorter:false}"></th>
                        <th class="{sorter:false}"></th>-->
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Owner</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tool in tool_list %}
            <tr>
                <td>
{{tool.name}}
                </td>
                <td>
                    {{tool.description}}
                </td>
                <td>
                    {{tool.category}}
                </td>
                <td>
                    <a href="{% url 'profiles_profile_detail' username=tool.owner.username %}">  {{tool.owner.username}}</a>
                </td>
                <td>
                    {% if tool.is_available %}
                    Shared
                    {% else %}
                    Loaned 
                    (<a href="{% url 'profiles_profile_detail' username=tool.borrower.username %}">{{tool.borrower.username}}</a>)
                    {% endif %}
                </td>
                <td class="but-col">
                    <a href="{% url 'tool_detail' tool_id=tool.id %}">View</a>
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% else %}
<div class="text-center"><h2 class="text-muted">None</h2></div>
{% endif %}

{% endblock %}