
{% extends "tools/tool_base.html" %}
{% load staticfiles %}
{% block title %}Create Tool{% endblock %}
 
{% block content %}
	{{block.super}}
	<h1 class="page-header">Create a Tool</h1>
	
		<div class="row">
		<div class="col-md-5 text-right">
			<img  class="img-rounded" alt="image of tool" src="{% static 'img/tool/toolplaceholder.png' %}" style="width: 200px; height:200px;">
		</div>
	
	<form method='post' action='' role="form">{% csrf_token %}
	
	{% for field, errors in form.errors.items %}
            <ul class="errorlist">
            {% for error in errors %}
                <li>{{ error }}</li>
                
            {% endfor %}
            </ul>
        {% endfor %}
	       <div class="col-md-1"></div>
		<div class="col-md-6 text-left">
			{{form.as_p}}
			<hr>

			<input class="btn btn-primary" type="submit" value="Create Tool"/>
		</div>
	</form>
{% endblock %}
