
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Create Tool{% endblock %}
 
{% block content %}
	<h1 class="page-header">Create a Tool</h1>
	
		<div class="row">
		<div class="col-sm-5 right-align">
			<img  class="img-rounded" alt="image of tool" src="{% static 'img/toolplaceholder.png' %}" style="width: 200px; height:200px;">
		</div>
	          <div class="col-sm-1"></div>

        <div class="col-sm-6">
	<form method='post' action='' role="form" enctype="multipart/form-data">{% csrf_token %}

			{{form.as_p}}
			<hr>

			<input class="btn btn-primary" type="submit" value="Create Tool"/>

	</form>
            </div>
        {% for field, errors in form.errors.items %}
            <ul class="errorlist">
            {% for error in errors %}
                <li>{{ error }}</li>
                
            {% endfor %}
            </ul>
        {% endfor %}
{% endblock %}
