<!--Not full completed look for commented section-->
{% extends "tools/tool_base.html" %}
{% load staticfiles %}
{% block title %}Tool Owned{% endblock %}
 
{% block content %}
	{{block.super}}
	<h1 class="page-header">Tool Owned</h1>
		<div class="row">
			<div class="col-md-4 text-left">
				<a>Tool Management</a>
			</div>
			<div class="col-md-8 text-right">
				<ul class="nav navbar-nav">
					<li><a href="#">Create</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 text-right">
			</div>
			<div class="col-md-8 text-right">
			<form>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
				<button type="submit" class="btn btn-default">Clear</button>
			</form>
			</div>
		</div>
		<div class="row">
			<table>
				<thead>
					<tr>
						<th class="{sorter:false}"></th>
						<th class="{sorter:false}"></th>
						<th>Name</th>
						<th>Description</th>
						<th>Category</th>
						<th>Location</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					{% for 0 in some_list %}
						<tr>
							{% for 0 in some_list %}
							<td class="{% cycle rowvalue1 rowvalue2 %}">
							</td>
							{% endfor %}
						</tr>
					{% endfor %}
			
<!-- 		{% for o in some_list %}
    <tr class="{% cycle rowvalue1 rowvalue2 %}">
        ...
    </tr>
{% endfor %} -->	
			
		<div class="row">
		<div class="col-md-6 text-right">
			<img class="img-circle" alt="image of tool" src="{% static 'img/icon/profileicon140.png' %}" style="width: 200px; height:200px;">
		</div>
	
	<form method='post' action='' role="form">{% csrf_token %}
	
	{% for field, errors in form.errors.items %}
            <ul class="errorlist">
            {% for error in errors %}
                <li>{{ error }}</li>
                
            {% endfor %}
            </ul>
        {% endfor %}
	
		<div class="col-md-6 text-left">
			<div class="form-group">
				<input id="id_name" class="form-control input-single" maxlength="30" name="tool_name" placeholder="Name of Tool" type="text">
			</div>
			<div class="form-group">
				<input id="id_category" class="form-control input-single" maxlength="30" name="category" placeholder="Category of Tool" type="text">
			</div>
			<div class="form-group">
				<input id="id_description" class="form-control input-single" maxlength="250" name="description" placeholder="Description of tool" type="text" textarea rows="4" cols="50">
			</div>
			<hr>
			<input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans "Create Tool" %}"/>
		</div>
	</form>
{% endblock %}
