{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Tool - {{ tool.name }}{% endblock %} 

{% block content %} 
{{block.super}}
    <h2 class="page-header">Tool <small>{{ tool.name }}</small></h2>
        <div class="row">
            <div class="col-sm-6 text-right">
               <img class="img-rounded tool-img" alt="170x170" src="{% static tool.filename %}"> 
            </div>
         
            <div class="col-sm-6 text-left">
              <table class="table no-border table-condensed detail-table">
                <tbody>
                  <tr>
                    <td class="text-muted label-col">Name:</td>
                    <td>{{ tool.name }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Shed:</td>
                    <td><a href="{% url 'shed_detail' shed_id=tool.shed.id %}">{{ tool.shed.name }}</a></td>
                  </tr>
                  <tr>
                    <td class="text-muted">Owner:</td>
                    <td><a href="{% url 'profile_detail' username=tool.owner.username %}">
                      {{tool.owner.username}}
                    </a></td>
                  </tr>

                  <tr>
                    <td class="text-muted">Borrower:</td>
                    <td>
                    {% if tool.borrower %}
                    <a href="{% url 'profile_detail' username=tool.borrower.username %}">{{ tool.borrower.username }}
                    </a>
                    {% else %}
                    None
                    {% endif %}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Category:</td>
                    <td>{{ tool.category }}</td>
                  </tr>
		      <tr>
                    <td class="text-muted">Description:</td>
                    <td>{{ tool.description }}</td>
                  </tr>
                  {% if tool.date_borrowed %}
                  <tr>
                    <td class="text-muted">Date Borrowed:</td>
                    <td>{{ tool.date_borrowed }}</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>

               <!-- Buttons -->
                    {% if permissions.borrow %}
                    <a class="btn btn-primary confirm" href="{% url 'borrow_tool' tool_id=tool.id %}"><strong>Send Borrow Request</strong></a>
                    {% elif permissions.return %}
                    <a class="btn btn-primary confirm" href="{% url 'return_tool' tool_id=tool.id %}"><strong>Return</strong></a>
                    {% endif %}

                   {% if permissions.edit %}
                      <a class="btn btn-primary" href="{% url 'edit_tool' tool_id=tool.id %}"><strong>Edit</strong></a>                  
                      {% if permissions.delete %}
                        <a class="btn btn-primary confirm" href="{% url 'delete_tool' tool_id=tool.id %}" >
                          <strong>Delete</strong></a>
                      {% endif %}
                  {% endif %}

            </div>
          </div>
<!--{% if messages %}
<ul class="messages text-center">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}</li>
    {% endfor %}
</ul>
{% endif %} -->
{% endblock %}

{% block js_ready %}
        $(".confirm").click(function(e){
          e.preventDefault();
          var url = $(this).attr("href");
          var msg = $(this).attr("data-msg");
          if (!msg){
            msg = "Are you sure?"
          }
          bootbox.confirm(msg, function(result){
            if(result){
                window.location.replace(url);
            }
          });
        });
{% endblock %}