{% extends "tools/tool.html" %}
{% load staticfiles %}
{% block title %}Tool - {{ tool.name }}{% endblock %} 

{% block inner_content %} 
    <h1 class="page-header">Tool <small>{{ tool.name }}</small></h1>
        <div class="row">
            <div class="col-md-6 text-right">
                <img class="img-circle" alt="170x170" src="{% static 'img/icon/profileicon140.png' %}" style="width: 200px; height: 200px;">
            </div>
         
            <div class="col-md-6 text-left">
              <table class="table no-border detail-table">
                <tbody>
                  <tr>
                    <td class="text-muted label-col">Name: </td>
                    <td>{{ tool.name }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Shed: </td>
                    <td>{{ tool.Shed }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Owner </td>
                    <td>{{ tool.owner.name }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Borrower </td>
                    <td>{{ tool.borrower.name }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Category </td>
                    <td>{{ tool.category }}</td>
                  </tr>
				  <tr>
                    <td class="text-muted">Description  </td>
                    <td>{{ tool.description }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
{% endblock %}