{% extends "profiles/profile_base.html" %}
{% load staticfiles %}
{% block title %}Profile - {{ profile.user.username }}{% endblock %} 

{% block content %} 
    {% if user == profile.user %}
        {{ block.super }}
    {% endif %}
    <h1 class="page-header">Profile <small>{{ profile.user.username }}</small></h1>
        <div class="row">
            <div class="col-md-6 text-right">
                <img class="img-circle" alt="170x170" src="{% static 'img/icon/profileicon140.png' %}" style="width: 200px; height: 200px;">
            </div>
         
            <div class="col-md-6 text-left">
              <table class="table no-border detail-table">
                <tbody>
                  <tr>
                    <td class="text-muted label-col">Name: </td>
                    <td>{{ profile.user.first_name }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Last Online: </td>
                    <td>{{ login_ago }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Join Date: </td>
                    <td>{{ profile.user.date_joined.date }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Share Zone: </td>
                    <td>{{ profile.postal_code }}</td>
                  </tr>
                  <tr>
                    <td class="text-muted">Total Tools: </td>
                    <td>{{ profile.tool_count }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

{% endblock %}