
{% extends "base.html" %}
{% block title %}Edit Account - {{ user.username }} {% endblock %}

{% block content %}
{{ block.super }}
<h1 class="page-header">Edit Account <small>{{ user.username }}</small></h1>

  <nav class="navbar navbar-default center-list" role="navigation">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'edit_account' %}">Personal</a></li>
          <li><a href="{% url 'password_change' %}">Password</a></li>
       <!--   <li><a href="#">Preferences</a></li> -->
        </ul>
  </nav> 


<div class="col-sm-4 col-sm-offset-4">
    <form action="" method='POST' role='form'>{% csrf_token %}
        {% for field in form %}
        {{field.label_tag}}
        <br>
        {{field}}
        {% endfor %}
        <br>
        <input class="btn btn-primary" id="submit" type="submit" name="submit" value="Update" />
    </form>
    <br>
    {% for key, value in form.errors.items %}
    {{value}}
    {% endfor %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}> {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

 </div>

{% endblock %}
