{% extends "table_sortable.html" %} 

{% block content %}
{{ block.super }}
<h1 class="page-header">My Requests</h1>
<table class="table table-hover sort-table">
    <thead>
        <tr>
            <th>Request</th>
            <th>Date</th>
            <th class="{sorter: false}">Action</th>
        </tr>
    </thead>
    <tbody>
{% for notification in notification_list %}

        <tr>
            <td>{% autoescape off %} {{ notification.html }} {% endautoescape %}</td>
            <td>{{ notification.date }}</td>
            <td><a href="{% url 'delete_notification' notification_id=notification.id %}">x</a></td>
        </tr>

{% endfor %}
    </tbody>
</table>
{% endblock %}

{% block js_ready %}

    $(".sort-table").tablecloth({
          theme: "default",
    });
    // set date column to sort by desc by default
    $(".sort-table").tablesorter({
                sortList: [[1,1]], 
                });
{% endblock %}