{% extends "table_sortable.html" %} 

{% block content %}
{{ block.super }}
<h2 class="page-header">My Borrow Requests</h2>
{% if recipient_request_list %}
<table class="table table-hover sort-table">
    <thead>
        <tr>
            <th>Tool</th>
            <th>Borrower</th>
            <th>Date</th>
            <th>Status</th>
            <th class="{sorter: false}">Action</th>
        </tr>
    </thead>
    <tbody>
{% for br in recipient_request_list %}
        <tr>
            <td><a href="{% url 'tool_detail' tool_id=br.tool.id %}">{{ br.tool.name }}</a></td>
            <td><a href="{% url 'profiles_profile_detail' username=br.sender.username %}">{{ br.sender.username }}</a></td>
            <td>{{ br.date }}</td>
            <td>{{ br.status_str }}</td>
            <td>
                {% if br.status == br_status.PENDING %}
                    <a href="#" class="btn btn-primary">Approve</a>
                    <a href="#" class="btn btn-primary">Deny</a>
                {% else %}
                    <a href="#" class="btn btn-primary">Delete</a>
                {% endif %}
            </td>
        </tr>

{% endfor %}
    </tbody>
</table>
{% else %}
<div class="text-center"><h2 class="text-muted">None</h2></div>
{% endif %}

<h2 class="page-header">Sent Borrow Requests</h2>
{% if sender_request_list %}
<table class="table table-hover sort-table">
    <thead>
        <tr>
            <th>Tool</th>
            <th>Owner</th>
            <th>Date</th>
            <th>Status</th>
            <th class="{sorter: false}">Action</th>
        </tr>
    </thead>
    <tbody>
{% for br in sender_request_list %}

        <tr>
            <td><a href="{% url 'tool_detail' tool_id=br.tool.id %}">{{ br.tool.name }}</a></td>
            <td><a href="{% url 'profiles_profile_detail' username=br.sender.username %}">{{ br.sender.username }}</a></td>
            <td>{{ br.date }}</td>
            <td>{{ br.status_str }}</td>
            <td>
                {% if br.status == br_status.PENDING %}
                    <a href="#" class="btn btn-primary">Cancel</a>
                {% else %}
                    <a href="#" class="btn btn-primary">Delete</a>
                {% endif %}
            </td>
        </tr>

{% endfor %}
    </tbody>
</table>
{% else %}
<div class="text-center"><h2 class="text-muted">None</h2></div>
{% endif %}
{% endblock %}

{% block js_ready %}

    $(".sort-table").tablecloth({
          theme: "default",
    });
    // set date column to sort by desc by default
    $(".sort-table").tablesorter({
                sortList: [[2,1]], 
                });
{% endblock %}